p {
    text-wrap: pretty; text-align: center
}
.container {
    display: flex;
    align-items: center; /* Vertically center the items */
}
.cat_text {
    margin-left: 20px; /* Adjust the distance between the image and text */
    background-color: #ffac21;
    padding: 10px;
}
.cat_cafe {
    display: flex;
    justify-content: center; /* Horizontally center the container */
    margin: 0; /* Remove default margin */
}